target/
node_modules/
dist/
.dev/
.DS_Store
Thumbs.db
.idea/
.vscode/
.env
.env.*
!/.env.example
coverage/
tmp/
.tmp/
.turbo/
.tmp-tests/
packaging/npm/vendor/
builtins/extensions/conversation/bin/
builtins/extensions/workflow/bin/

## Panda
styled-system
styled-system-studio
*.exe
