target/
node_modules/
dist/
.DS_Store
Thumbs.db
.idea/
.vscode/
.env
.env.*
!/.env.example
coverage/
tmp/
.turbo/
.tmp-tests/
packaging/npm/vendor/
builtins/extensions/conversation/bin/

## Panda
styled-system
styled-system-studio
builtins/extensions/memory/bin/memory-service.exe

